################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TenantHUB_Backend/FileContentIndex/0ef80c1e-89ea-4d00-b251-ec844381b1cc.vsidx
/.vs/TenantHUB_Backend/FileContentIndex/d2067fff-8eaf-41bd-8f15-43538be50b0e.vsidx
/.vs/TenantHUB_Backend/FileContentIndex/d04cea01-94af-400f-9d1d-8110fe65121b.vsidx
/.vs/TenantHUB_Backend/FileContentIndex/b83e7d2a-df4e-4af1-aebb-ae9fbd8a9313.vsidx
/.vs/TenantHUB_Backend/FileContentIndex/85512af7-cbc9-43f5-8d0e-c8622e0d580e.vsidx
/.vs/TenantHUB_Backend/FileContentIndex/25438b2e-3e4f-4725-bf4f-edb82db944ce.vsidx
